{%extends 'base.html'%}
{% block content %}
<div class="container mt-5">
<p>Current Date and Time : {{current_time}}</p>
</div>
<div class="container mx-auto mt-10 mb-20 p-5 border rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-4">Submit Your Details</h1>
    <form method="post" action="{% url 'viewdetails' %}">
        {% csrf_token %}
        <div class="mb-4">
            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter your name"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email here"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">
            Submit
        </button>
    </form>
</div>
{% endblock content%}